#Your MongoDb database URI
MONGO_URI=DATABASE_URI

#JWT Key For Auth
JWT_SECRET=JWT_SECRET_KEY

#App Port
PORT=PORT

# Path to your service account JSON key file (absolute or relative)
GOOGLE_APPLICATION_CREDENTIALS=ACCOUNT.JSON

# Your Google Cloud Storage bucket name
GCS_BUCKET_NAME=GCS_BUCKET_NAME

# Your Stripe secret key
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY
